body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}

.main-text {
    font-size: 1.5rem;
    color: #f9faf8;
    padding-left: 8rem;
    font-weight: 900;
}

.links {
    font-size: 1.125rem;
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
    padding-right: 8rem;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    background-color: #1f2937;
    padding: 8rem;
    justify-content:center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.hero-main-text {
    font-size: 2.5rem;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 1.125rem;
    color: #e5e7eb;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 0.3rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.25rem;
    align-self: flex-start;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minion-image {
    width: 40%;
}

.image {
    width: 50%;
    border: 0.2rem solid blue;
    border-radius: 5%;
}

.random-information-title {
    font-size: 2.25rem;
    font-weight: 900;
    color: #1f2937;
}

.random-information {
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4rem;
}

.random-items {
    display: flex;
    flex-grow: 0;
}

.random-text {
    font-size: 0.75rem;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 4rem 8rem;
}

.quote {
    font-size: 2.25rem;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}

.quoted-by {
    text-align: right;
    font-weight: 800;
}

.call-to-action-section {
    margin: 4rem 8rem;
    padding: 30px 60px;
    background-color: #3882f6;
    border: 0.2rem solid #3882f6;
    border-radius: 0.25rem;
    display: flex;
    color: white;
    justify-content: space-around;
}

.call-to-action-content {
    display: flex;
    flex-direction: column;
}

.call-to-action-title {
    font-weight: 900;
    font-size: 1.2rem;
}

.sign-up-button-two {
    background-color: #3882f6;
    color: white;
    border: 0.1rem solid white;
    padding: 0.3rem 1.25rem;
    text-decoration: none;
    border-radius: 0.25rem;
    align-self: center;
}